# Compiled source #
###################

*.o
*.d
*.lo
*.so
libnvidia-container.a
libnvidia-container.so*

.debug
deps
src/build.h

src/nvc.h
src/nvc_clt.c
src/nvc_rpc.h
src/nvc_svc.c
src/nvc_xdr.c
src/nvcgo/libnvidia-container-go.h

/dist
/.vscode
